doctype html
html
  head
    title= `${title}`
    link(rel="stylesheet", href="/css/bootstrap.min.css")

  body
    div.container.listing-reg
        h1 Visualisation de données de KickStarter (2018)

    block content